# Ignore all .log files
*.log

# Ignore the data nad output direcotry
data/
output/

# Ignore the .env file
.env

# Ignore the .npy file
.npy
src/__pycache__/CSGD_hybrid.cpython-312.pyc
src/__pycache__/CSGD_hybrid.cpython-312.pyc.1780719287104
src/__pycache__/CSGD_hybrid.cpython-312.pyc.2252773642320
src/__pycache__/fit_tngd.cpython-312.pyc
src/__pycache__/fit_tngd.cpython-312.pyc.1780667954016
src/__pycache__/fit_tngd.cpython-312.pyc.2252773642320
src/__pycache__/noise_generation.cpython-38.pyc
src/__pycache__/noise_generation.cpython-312.pyc
src/__pycache__/noise_generation.cpython-312.pyc.1575168683152
src/__pycache__/noise_generation.cpython-312.pyc.1624578039344
src/__pycache__/noise_generation.cpython-312.pyc.1780671488176
src/__pycache__/noise_generation.cpython-312.pyc.1890645160816
src/__pycache__/noise_generation.cpython-312.pyc.2135706807440
src/__pycache__/noise_generation.cpython-312.pyc.2252773642320
src/__pycache__/noise_generation.cpython-312.pyc.2347002207792
src/__pycache__/simulation.cpython-38.pyc
src/__pycache__/simulation.cpython-312.pyc
src/__pycache__/simulation.cpython-312.pyc.1575219864336
src/__pycache__/simulation.cpython-312.pyc.1624628993536
src/__pycache__/simulation.cpython-312.pyc.1890696258608
src/__pycache__/simulation.cpython-312.pyc.2135757988624
src/__pycache__/simulation.cpython-312.pyc.2252773642320
src/__pycache__/simulation.cpython-312.pyc.2347053424128
src/__pycache__/tracking_utility.cpython-312.pyc
src/__pycache__/tracking_utility.cpython-312.pyc.2252773642320
src/__pycache__/tracking.cpython-312.pyc
src/__pycache__/tracking.cpython-312.pyc.2252773642320
src/stormlab/__pycache__/__init__.cpython-312.pyc
src/stormlab/__pycache__/__init__.cpython-312.pyc.1575168679632
src/stormlab/__pycache__/__init__.cpython-312.pyc.1624578039184
src/stormlab/__pycache__/__init__.cpython-312.pyc.1780671487376
src/stormlab/__pycache__/__init__.cpython-312.pyc.1890645157296
src/stormlab/__pycache__/__init__.cpython-312.pyc.2135706803920
src/stormlab/__pycache__/__init__.cpython-312.pyc.2347002207632
src/stormlab/__pycache__/config.cpython-312.pyc
src/stormlab/__pycache__/config.cpython-312.pyc.1575164753712
src/stormlab/__pycache__/config.cpython-312.pyc.1890645157296
src/stormlab/__pycache__/config.cpython-312.pyc.2135702894384
src/stormlab/__pycache__/fitting.cpython-312.pyc
src/stormlab/__pycache__/fitting.cpython-312.pyc.1780671487856
src/stormlab/__pycache__/noise.cpython-312.pyc
src/stormlab/__pycache__/noise.cpython-312.pyc.1575165195824
src/stormlab/__pycache__/noise.cpython-312.pyc.1624574505824
src/stormlab/__pycache__/noise.cpython-312.pyc.1780748811504
src/stormlab/__pycache__/noise.cpython-312.pyc.1890641655632
src/stormlab/__pycache__/noise.cpython-312.pyc.2135703320112
src/stormlab/__pycache__/noise.cpython-312.pyc.2346998674272
src/stormlab/__pycache__/simulation.cpython-312.pyc
src/stormlab/__pycache__/simulation.cpython-312.pyc.1575220251504
src/stormlab/__pycache__/simulation.cpython-312.pyc.1624578039344
src/stormlab/__pycache__/simulation.cpython-312.pyc.1890696680016
src/stormlab/__pycache__/simulation.cpython-312.pyc.2135758375792
src/stormlab/__pycache__/simulation.cpython-312.pyc.2347002207792
src/stormlab/__pycache__/tracking.cpython-312.pyc
src/stormlab/__pycache__/validation.cpython-312.pyc
src/stormlab/__pycache__/validation.cpython-312.pyc.1575220250064
src/stormlab/__pycache__/validation.cpython-312.pyc.1890696678576
src/stormlab/__pycache__/validation.cpython-312.pyc.2135758374352
src/stormlab.egg-info/dependency_links.txt
src/stormlab.egg-info/PKG-INFO
src/stormlab.egg-info/requires.txt
src/stormlab.egg-info/SOURCES.txt
src/stormlab.egg-info/top_level.txt
tests/__pycache__/test_notebooks.cpython-312-pytest-7.4.4.pyc.30780
tests/__pycache__/test_notebooks.cpython-312-pytest-7.4.4.pyc.66252
tests/__pycache__/test_notebooks.cpython-312-pytest-7.4.4.pyc.150880
tests/__pycache__/test_notebooks.cpython-312-pytest-9.0.3.pyc
tests/__pycache__/test_smoke.cpython-312-pytest-7.4.4.pyc.30780
tests/__pycache__/test_smoke.cpython-312-pytest-7.4.4.pyc.42908
tests/__pycache__/test_smoke.cpython-312-pytest-7.4.4.pyc.66252
tests/__pycache__/test_smoke.cpython-312-pytest-7.4.4.pyc.138016
tests/__pycache__/test_smoke.cpython-312-pytest-7.4.4.pyc.150880
tests/__pycache__/test_smoke.cpython-312-pytest-7.4.4.pyc.186176
tests/__pycache__/test_smoke.cpython-312-pytest-7.4.4.pyc.199544
tests/__pycache__/test_smoke.cpython-312-pytest-7.4.4.pyc.200192
tests/__pycache__/test_smoke.cpython-312-pytest-9.0.3.pyc

# Ignore the .vscode directory
.vscode/settings.json

# Ignore .zip files
*.zip

Water Resources Research - 2024 - Liu - A Nonstationary Stochastic Rainfall Generator Conditioned on Global Climate Models.pdf
